@keyframes fade-in-down {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-down-leave-to {
  -webkit-transform: opacity 0.3s;
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-in-down-enter-from {
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
  opacity: 0;
}

.fade-in-down-enter-to {
  opacity: 0;
  animation-name: fade-in-down;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
