@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInDownLeaveTo {
  -webkit-transform: opacity 0.3s;
  opacity: 0;
  transition: opacity 0.3s;
}

.fadeInDownEnterFrom {
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
  opacity: 0;
}

.fadeInDownEnterTo {
  opacity: 0;
  animation-name: fadeInDown;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
